/* Colors */

$background-header: #f2e85e;
$background-body: #f7f7ff;
$mobile-menu: rgba(227, 99, 150, 0.9);
$background-title: rgba(242, 232, 94, 0.7);

$pink: #e36397;

/* Breakpoints */
// $breakpoint-table: 700px;
// $breakpoint-desktop: 1000px;
