.page .contact-main .contact-form {
  margin: 10px 30px 10px 30px;
  display: inline-block;
}

.page .contact-main .contact-form .wpcf7 {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.page .contact-main .contact-form form {
  margin: auto;
}
