/* Colors */

$background-header: rgb(242, 232, 94);
$background-body: #f7f7ff;
$mobile-menu: #e36397;
$background-title: rgba(242, 232, 94, 0.7);

/* Breakpoints */
// $breakpoint-table: 700px;
// $breakpoint-desktop: 1000px;
