.site-footer {
  background-color: $background-header;
  height: 50px;
  padding: 40px 5% 0 5%;
  color: #757575;
  font-size: 1rem;
  text-align: center;
  position: relative;
}

.site-footer p {
  margin: 0;
}
